

body {
    background: linear-gradient(rgb(241, 77, 77) to rgb(133, 19, 240));

    height: 100vh;
    width: 100%;
    box-sizing: border-box;
}

div {
    width: 100%;
    margin: 0 auto;
}

a {
    text-decoration: none;
    display: inline-block;
    font-size: 4rem;
    color: #242424;
    text-align: center;
    width: 100%;
    margin-top: 5%;
}

