@import url('https://fonts.googleapis.com/css?family=Karla|Paprika|Rubik&display=swap');


$offwhite: #f4f4f4;
$offblack: #242424;
$golden: #F2D479;
$bluel: #07b2d9;
$blue2 : #0777D9;
$logored: #F25C69;


@mixin heading {
    font-family: 'rubik';
}

@mixin phone {
    @media (max-width: 599px) {
        @content;
    }
}

@mixin tablet-portrait {
    @media (min-width: 600px) {
        @content;
    }
}

@mixin tablet-landscape {
    @media (min-width: 900px) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: 1200px) {
        @content;
    }
}
html, body {
    box-sizing: border-box;
    font-family: 'karla';
}

*,
*:after,
*:before {
    box-sizing: inherit
}

* {
    padding: 0;
    margin: 0;
}

body {

}

.mobileNav {
    z-index: 3;
    height: 100vh;
    position: fixed;
    top: 0;
    bottom: 0;
    transform: translateX(100%);
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    transition: all ease 0.5s;
    

    ul {
        list-style-type: none;
        text-align: center;
        margin-top: 10%;
    }

    li {
        color: $offwhite;
        margin-top: 2rem;

        a {
            text-decoration: none;
            color: $offwhite;
            font-size: 2rem;
            font-weight: bold;
        }
    }

    
}

.slideIn {
    transform: translateX(0) !important;
}

.slideX {
    position: absolute;
    top: .3rem;
    left: 88%;
    a {
    color: red;
    font-size: 2.5rem;
    }
}


.topnav {
    display: flex;
    position: absolute;
    top: 0;
    background: transparent;
    flex: 1;
    justify-content: space-between;
    position: fixed;
    transition: all ease 2s;
    width: 100%;
    margin: 0;
    z-index: 2;

    @include tablet-portrait {
    
    }

    .menuOpen {
        font-size: 2.5rem;
        padding-top: .5rem;
        padding-right: 2rem;
        
        a {
            color: $offwhite;
        }
        @include tablet-landscape {
            display: none;
        }
    }


    .navlogo {
        margin-left: 10%;
        padding-top: 1rem;
        padding-bottom: 1rem;
        height: 7rem;
        width: auto;
        transition: all ease .5s;
        
            

        img {
            object-fit: contain;
            height: 100%;

            
        }

        p {
            display: inline-block;
            outline: 1px solid blue;
            padding-bottom: 1rem;
        }
    }

    ul {
        list-style-type: none;
        padding-top: 1rem;
        margin-right: 10%;
        display: none;

        a {
            text-decoration: none;
            color: $offwhite;
            font-weight: bold;
            font-size: 1.2rem;
        }
        @include tablet-landscape() {
            display: block
        }
    }

    li {
        display: inline;
        margin-left: 1rem;
    }

    

    .shrink {
        height: 4rem;
        padding-top: .5rem;
        padding-bottom: .5rem;
    }

    
}
.navbg {
    background: #00000081;
   // box-shadow: 0px 1px 10px #999;
}

header {
    background-image: url('/IMG/herobg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    width: 100%;

    

    .title {
        
        color: #fff;
        width: 100%;
        margin: 0 auto;
        position: relative;
        text-align: center;
        top: 30%;
        font-family: 'rubik';

        h1 {
            font-size: 2rem;
            padding-top: 1rem;
            padding-bottom: 1rem;
            @include tablet-portrait {
                font-size: 4rem;
                padding-top: 1rem;
            }
        }

        h2 {
            font-size: 1.3rem;

            @include tablet-portrait {
                font-size: 1.5rem;
            }
        }
        
    }
}


/// MAIN ///////////////////

/////////////////////// FURNITURE ///////////////////

.furnishings {
    
    background: #f2f2f2;
    padding-top: 3rem;
    


    h2 {
        text-align: center;
        font-family: 'rubik';
        padding-bottom: .5rem;
        color: #242424;
        font-size: 2rem;
    }
    
    p {
        text-align: center;
        margin-bottom: 2rem;
        color: #f4f4f4;
    }

    .chairs {
        width: 80%;
       margin: 0 auto;
        
        position: relative;
        height: 35rem;
        p {
            padding: 1rem;
        }
    }

    .left {
        
        position: absolute;
        width: 20rem;
        color: #fff;
        text-align: left;
        background: #111111;
        margin-left: -2rem;
        margin-top: 2rem;
        

        p {
            text-align: left;
        }
        

    }

    .leftt {
        position: absolute;
        width: 20rem;
        color: #fff;
        text-align: left;
        background: #111111;
        bottom: 0;
        right: 0;
        margin-bottom: 2rem;
        z-index: 3;
        p {
            text-align: left;
        }
    }

    .right {
        
        margin: 0 auto;
        
        background: url('/IMG/26f83c37273261.573af25f5d4e4.jpg');
        background-position: bottom;
        background-size: cover;
        background-repeat: no-repeat;
        object-fit: cover;
        height: 100%;
        width: 90%;
        
        
    }
    
}


////////////////////

.hanging {
    padding-bottom: 4rem;
    padding-top: 4rem;
    img {
        height: auto;
        max-width: 100%;
        vertical-align: middle;
      }
      .btn {
        background-color: white;
        border: 1px solid #cccccc;
        color: #696969;
        padding: 0.5rem;
        text-transform: lowercase;
      }
      .btn--block {
        display: block;
        width: 100%;
      }
      .cards {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        list-style: none;
        margin: 0;
        padding: 0;
      }
      .cards__item {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        padding: 1rem;
      }
      @media (min-width: 40rem) {
        .cards__item {
          width: 50%;
        }
      }
      @media (min-width: 56rem) {
        .cards__item {
          width: 33.3333%;
        }
      }
      .card {
        background-color: white;
        border-radius: 0.25rem;
        box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        overflow: hidden;
      }
      .card:hover .card__image {
        -webkit-filter: contrast(100%);
                filter: contrast(100%);
                
      }
      .card__content {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-flex: 1;
            -ms-flex: 1 1 auto;
                flex: 1 1 auto;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        padding: 1rem;
      }
      .card__image {
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        border-top-left-radius: 0.25rem;
        border-top-right-radius: 0.25rem;
        -webkit-filter: contrast(90%);
                filter: contrast(90%);
        overflow: hidden;
        position: relative;
        -webkit-transition: -webkit-filter 0.5s cubic-bezier(0.43, 0.41, 0.22, 0.91);
        transition: -webkit-filter 0.5s cubic-bezier(0.43, 0.41, 0.22, 0.91);
        transition: filter 0.5s cubic-bezier(0.43, 0.41, 0.22, 0.91);
        transition: filter 0.5s cubic-bezier(0.43, 0.41, 0.22, 0.91), -webkit-filter 0.5s cubic-bezier(0.43, 0.41, 0.22, 0.91);
        
        @include tablet-portrait {
            filter: contrast(50%)
        }
      }
      .card__image::before {
        content: "";
        display: block;
        padding-top: 56.25%;
      }

     
      @media (min-width: 40rem) {
        .card__image::before {
          padding-top: 66.6%;
        }
      }
      .card__image--flowers {
        background-image: url('/IMG/wall1.png');
      }
      .card__image--river {
        background-image: url('/IMG/ceiling.jpg');
      }
      .card__image--record {
        background-image: url('/IMG/Air.jpg');
      }
      .card__image--air {
        background-image: url('/IMG/Air.jpg');
      }

      .card__image--sculp {
        background-image: url('/IMG/sculp.jpg');
      }

      .card__image--per {
        background-image: url('/IMG/live.jpg');
      }
      
      .card__title {
        color: #696969;
        font-size: 1.25rem;
        font-weight: 300;
        letter-spacing: 2px;
        text-transform: uppercase;
      }
      .card__text {
        -webkit-box-flex: 1;
            -ms-flex: 1 1 auto;
                flex: 1 1 auto;
        font-size: 0.875rem;
        line-height: 1.5;
        margin-bottom: 1.25rem;
      }
      
      
}


/*********** CONTACT **********************************/




  
  #contact {
    width: 100%;
    
    background-color: #111;
    
    padding-bottom: 5rem;

    ul {
        list-style-type: none;
    }
  }
  
  .section-header {
    text-align: center;
    margin: 0 auto;
    padding-top: 4rem;
    margin-bottom: 50px;
    font: 300 60px 'karla';
    letter-spacing: 6px;
    color: #fff;
    margin-bottom: 25px;
  }
  
  .contact-wrapper {
    margin: 0 auto;
    padding-top: 20px;
    
    width: 90%;
    

    @include tablet-portrait {
        width: 80%

    }

    @include tablet-landscape {
        display: flex;
        flex: 1;
        justify-content: space-evenly;
    }

    @include desktop {
        display: flex;
        flex: 1;
        justify-content: center;
    }
  }
  
  .form {
      
        margin: 0 auto;
      @include tablet-portrait {
          width: 80%;
          
      }

      @include tablet-portrait {
        margin-right: 5%;
      }

      @include desktop {
          margin-right: 5%;
          max-width: 450px;
      }

      input {
          display: block;
          width: 100%;
          margin-bottom: 1.5rem;
          border-radius: 7px;
          font-size: 2rem;
          border-style: outset;
          border: none;
          font-family: 'karla';
      }

      #button {
          color: $offwhite;
          background: $logored;
          border: none;
          border-radius: 10px;
          transition: all ease-in .8s;
        }

      #button:hover {
        background: rgb(236, 64, 78);
        cursor: pointer;
    }

      textarea {
        width: 100%;
        margin-bottom: 5%;
        font-size: 2rem;
        border-radius: 10px;
        min-height: 8rem;
    }
  }
  
  /* Begin Right Contact Page */
  .direct-contact-container {
    margin: 0 auto;

    @include tablet-portrait {
        width: 80%;
    }

    @include tablet-landscape {
        margin-left: 5%;
    }

    @include desktop {
        max-width: 450px;
        margin-left: 5%;
    }
    
  }
  
  /* Location, Phone, Email Section */
  .contact-list {
    list-style-type: none;
    margin-top: 3rem;
    padding-right: 20px;

    @include tablet-portrait {
        margin-top: 0;
    }

    ul {
        list-style-type: none;
        display: flex;
        flex: 1;
        justify-content: space-between;
    }
  }
  
  .list-item {
    line-height: 4;
    color: #aaa;
  }
  
  .contact-text {
    font: 300 18px 'Lato', sans-serif;
    letter-spacing: 1.9px;
    color: #bbb;
  }
  
  .place {
    margin-left: 2.3rem;
  }
  
  .phone {
    margin-left: 2rem;
  }
  
  .gmail {
    margin-left: 2rem;
  }
  
  .contact-text a {
    color: #bbb;
    text-decoration: none;
    transition-duration: 0.2s;
  }
  
  .contact-text a:hover {
    color: #fff;
    text-decoration: none;
  }
  
  
  /* Social Media Icons */
  .social {
      text-align: left;
        padding-top: 4.5rem;
        display: flex;
        flex: 1;
        justify-content: space-between;
        
      li {
          display: inline;
          font-size: 3rem;
          color: #aaa;
          padding-right: 1rem;
      }

      a {
          color: #aaa;
          transition: all ease-in .5s;
      }

      a:hover {
        color: $logored;
        
      }
  }
  
  
  
  
  

  
  
  
  
  hr {
    border-color: rgba(255,255,255,.8); ;
  }
  
  /* Begin Media Queries*/
  
   
    
    
/************************** FOOTER *****************/


footer {
    background: #242424;
    color: #aaa;
    

    .foot {
        text-align: center;
        width: 100%;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
}