@import url('https://fonts.googleapis.com/css?family=Fredericka+the+Great|Karla|Lobster|Paprika|Rubik&display=swap');



$offwhite: #f4f4f4;
$offblack: #242424;
$golden: #F2D479;
$bluel: #07b2d9;
$blue2 : #0777D9;
$logored: #F25C69;

$darkblack: #111;
$greytext: #bbb;


@mixin heading {
    font-family: 'rubik';
}

@mixin sectionHead {
    font-family: 'rubik';
    font-size: 3rem;
}

@mixin phone {
    @media (max-width: 599px) {
        @content;
    }
}

@mixin tablet-portrait {
    @media (min-width: 600px) {
        @content;
    }
}

@mixin tablet-landscape {
    @media (min-width: 900px) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: 1200px) {
        @content;
    }
}
html, body {
    box-sizing: border-box;
    font-family: 'karla';
}

*,
*:after,
*:before {
    box-sizing: inherit
}

* {
    padding: 0;
    margin: 0;
    
}
html {
    scroll-behavior: smooth;
}

.newNav {
    display: flex;
    position: absolute;
    top: 0;
    background: transparent;
    flex: 1;
    justify-content: space-between;
    position: fixed;
    align-items: center;
    transition: all ease 2s;
    width: 100%;
    margin: 0;
    z-index: 9;

    ul {
        list-style-type: none;
    }

    .menu {
        display: none;
        margin-right: 10%;
        
        @include tablet-landscape {
            display: block;
        }
    }

  

    .navlogo {
        margin-left: 10%;
        padding-top: 1rem;
        padding-bottom: 1rem;
        height: 7rem;
        width: auto;
        transition: all ease .5s;

        img {
            object-fit: contain;
            height: 100%;

            
        }
    }

    a {
        text-decoration: none;
        color: $offwhite;
        font-weight: 300;
        font-size: 1.2rem;
        letter-spacing: 1.9px;
        font-family: 'karla';
    }
    .shrink {
        height: 4rem;
        padding-top: .5rem;
        padding-bottom: .5rem;
    }

    .menuOpen {
        font-size: 2.5rem;
        padding-top: .5rem;
        padding-right: 2rem;
        
        a {
            color: $logored;
            letter-spacing: 1.9px;
            font-size: 2.5rem;
        }

        a:hover {
            color: $logored;
        }
        @include tablet-landscape {
            display: none;
        }
    }
}

////////////////////////// mobile Nav ////////////////////////////////////////////
.mobileNav {
    z-index: 11;
    
    height: 100vh;
    position: fixed;
    top: 0;
    bottom: 0;
    transform: translateX(100%);
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    transition: all ease 0.5s;
    

    ul {
        list-style-type: none;
        text-align: center;
        margin-top: 10%;

       .topLi {
           font-size: 2rem;
           padding-top: 1rem;
           color: $offwhite;
       }

       .mm {
           font-size: 1.5rem;
           
           margin-top: .5rem;

           a {
            color: $greytext;
           }
           
       }

        a {
            text-decoration: none;
            color: $offwhite;
        }

        .slideX {
            
            a {
                color: red;
                display: inline-block;
                margin: 0 0 0 auto;
                width: 100%;

                .fa {
                    margin: 0 0 0 auto;
                    text-align: right;
                    width: 100%;;
                }
            }
        }
    }

    .fa-times {
        margin: 0 0 0 80%;
        display: block;
        
    }

    .mm {

    }



    

    
}

.slideIn {
    transform: translateX(0) !important;
}

.slideX {
    
    z-index: 12;
    padding-top: 1rem;
    
    a {
    color: red; 
    font-size: 2.5rem;
    }
}


.topnav {
    display: flex;
    position: absolute;
    top: 0;
    background: transparent;
    flex: 1;
    justify-content: space-between;
    position: fixed;
    transition: all ease 2s;
    width: 100%;
    margin: 0;
    z-index: 2;

    @include tablet-portrait {
    
    }

    .menuOpen {
        font-size: 2.5rem;
        padding-top: .5rem;
        padding-right: 2rem;
        
        a {
            color: $offwhite;
            letter-spacing: 1.9px;
        }

        a:hover {
            color: $logored;
        }
        @include tablet-landscape {
            display: none;
        }
    }


    .navlogo {
        margin-left: 10%;
        padding-top: 1rem;
        padding-bottom: 1rem;
        height: 7rem;
        width: auto;
        transition: all ease .5s;
        
       
            

        img {
            object-fit: contain;
            height: 100%;

            
        }

        p {
            display: inline-block;
            outline: 1px solid blue;
            padding-bottom: 1rem;
        }
    }

    ul {
        list-style-type: none;
        padding-top: 1rem;
        margin-right: 10%;
        display: none;

        a {
            text-decoration: none;
            color: $offwhite;
            font-weight: 300;
            font-size: 1.2rem;
            letter-spacing: 1.9px;
            font-family: 'karla';
        }

        a:hover {
            color: $logored;
            font-weight: bold;
        }
        @include tablet-landscape() {
            display: block
        }
    }

    li {
        display: inline;
        margin-left: 1rem;
    }

    

    

    
}

.shrink {
    height: 4rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
}
.navbg {
    background: rgba(0, 0, 0, 0.8)
   // box-shadow: 0px 1px 10px #999;
}

////////// Sub Nav //////////////////
nav {
    text-align: center;
  }
  
  .menu {
    display: inline-block;
  }
  
  .menu > li {
    float: left;
    color: $offwhite;
    width: 8rem;
    height: 40px;
    line-height: 40px;
    letter-spacing: 1.9px;
    cursor: pointer;
    font-size: 1.2rem;
  }
  
  .sub-menu {
    transform: scale(0);
    transform-origin: top center;
    transition: all 300ms ease-in-out;
  }
  
  
  .sub-menu li {
    font-size: 14px;
    background: rgba(0,0,0, 0.8);
    padding: 8px 0;
    color: white;
    border-bottom: 1px solid rgba(255,255,255, 0.2);
    /*display: none;*/
    transform: scale(0);
    transform-origin: top center;
    transition: all 300ms ease-in-out;
  }
  
  .sub-menu li:last-child {
    border-bottom: 0;
  }
  
  
  .sub-menu li:hover {
    background: black;
  }
  
  
  .menu > li:hover .sub-menu li{
    /*display: block;*/
    transform: scale(1);
  }
  
  
  .menu > li:hover .sub-menu {
    transform: scale(1);
  }
  

  //////////////////

.landingPage {
    background-attachment: fixed;
    background-image: url('/IMG/opt-sphere.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    width: 100%;

    

    .title {
        
        color: #fff;
        
        
        margin: 0 auto;
        position: relative;
        text-align: center;
        top: 30%;
        font-family: '';

        h1 {
            display: inline-block;
            font-size: 2rem;
            padding-top: 1rem;
            padding-bottom: 1rem;
            padding-left: 2rem;
            padding-right: 2rem;
            background: $logored;
            font-weight: 300;
            font-family: 'lobster';
            box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
            
            
            @include tablet-portrait {
                font-size: 4rem;
                padding-top: 1rem;
            }
        }

        h2 {
            display: none;
            font-size: 1.3rem;
            
            
            outline: 2px solid blue;
            background-color: $logored;
            @include tablet-portrait {
                font-size: 1.5rem;
            }
        }

        h3 {
            position: relative;
            margin-top: 100%;
            background: $logored;
            display: none;
            list-style-type: none;
            padding: 1rem;
            border-radius: 40px;
            font-family: 'rubik';
            box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.5);
            

            ul {
                list-style-type: none;
            }
        }
        
    }
}


/// MAIN ///////////////////

/////////////////////// Short ///////////////////
.short {
    
    .shortCenter {
        width: 100%;
        margin: 0 auto;
        padding-top: 3rem;
        
    }

    h2 {
        font-size: 3rem;
        text-align: center;
        padding-bottom: .8rem;
        font-family: 'rubik';
    }

    p {
        width: 300px;
        margin: 0 auto;
        text-align: center;
    }
}
////////////////////

.hanging {
    padding-bottom: 4rem;
    padding-top: 1rem;
    img {
        height: auto;
        max-width: 100%;
        vertical-align: middle;
      }
      .btn {
        background-color: white;
        border: 1px solid #cccccc;
        color: #696969;
        padding: 0.5rem;
        text-transform: lowercase;
      }
      .btn--block {
        display: block;
        width: 100%;
      }
      .cards {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        list-style: none;
        margin: 0;
        padding: 0;
      }
      .cards__item {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        padding: 1rem;
      }
      @media (min-width: 40rem) {
        .cards__item {
          width: 50%;
        }
      }
      @media (min-width: 56rem) {
        .cards__item {
          width: 33.3333%;
        }
      }
      .card {
        background-color: white;
        border-radius: 0.25rem;
        box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        overflow: hidden;
      }
      .card:hover .card__image {
        -webkit-filter: contrast(100%);
                filter: contrast(100%);
                
      }
      .card__content {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-flex: 1;
            -ms-flex: 1 1 auto;
                flex: 1 1 auto;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        padding: 1rem;
      }
      .card__image {
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        border-top-left-radius: 0.25rem;
        border-top-right-radius: 0.25rem;
        -webkit-filter: contrast(90%);
                filter: contrast(90%);
        overflow: hidden;
        position: relative;
        -webkit-transition: -webkit-filter 0.5s cubic-bezier(0.43, 0.41, 0.22, 0.91);
        transition: -webkit-filter 0.5s cubic-bezier(0.43, 0.41, 0.22, 0.91);
        transition: filter 0.5s cubic-bezier(0.43, 0.41, 0.22, 0.91);
        transition: filter 0.5s cubic-bezier(0.43, 0.41, 0.22, 0.91), -webkit-filter 0.5s cubic-bezier(0.43, 0.41, 0.22, 0.91);
        
        @include tablet-portrait {
            filter: contrast(50%)
        }
      }
      .card__image::before {
        content: "";
        display: block;
        padding-top: 56.25%;
      }

     
      @media (min-width: 40rem) {
        .card__image::before {
          padding-top: 66.6%;
        }
      }
      .card__image--flowers {
        background-image: url('/IMG/wall1.png');
      }
      .card__image--river {
        background-image: url('/IMG/opt-small.jpg');
      }
      .card__image--record {
        background-image: url('/IMG/opt-lights.jpg');
      }
      .card__image--air {
        background-image: url('/IMG/opt-air.jpg');
      }

      .card__image--sculp {
        background-image: url('/IMG/opt-sculp.jpg');
      }

      .card__image--per {
        background-image: url('/IMG/opt-rex.jpg');
      }
      
      .card__image--ramos {
        background-image: url('/IMG/nelson.jpg');
      }
      
      .card__image--nuno {
        background-image: url('/IMG/Nuno.jpg');
      }
      
      .card__image--da {
        background-image: url('/IMG/Joao.jpg');
      }

      
      .card__image--mod {
        background-image: url('/IMG/3d.jpg');
      }

      
     
      
      .card__title {
        color: #696969;
        font-size: 1.25rem;
        font-weight: 300;
        letter-spacing: 2px;
        text-transform: uppercase;
      }
      .card__text {
        -webkit-box-flex: 1;
            -ms-flex: 1 1 auto;
                flex: 1 1 auto;
        font-size: 0.875rem;
        line-height: 1.5;
        margin-bottom: 1.25rem;
      }
      
      
}


/*********** CONTACT **********************************/




  
  #contact {
    width: 100%;
    z-index: 3;
    background-color: #111;
    position: relative;
    padding-bottom: 5rem;

    ul {
        list-style-type: none;
    }
  }
  
  .section-header {
    text-align: center;
    margin: 0 auto;
    padding-top: 4rem;
    margin-bottom: 50px;
    font: 300 60px 'karla';
    letter-spacing: 6px;
    color: #fff;
    margin-bottom: 25px;
  }
  
  .contact-wrapper {
    margin: 0 auto;
    padding-top: 20px;
    
    width: 90%;
    

    @include tablet-portrait {
        width: 80%

    }

    @include tablet-landscape {
        display: flex;
        flex: 1;
        justify-content: space-evenly;
    }

    @include desktop {
        display: flex;
        flex: 1;
        justify-content: center;
    }
  }
  
  .form {
      
        margin: 0 auto;
      @include tablet-portrait {
          width: 80%;
          
      }

      @include tablet-portrait {
        margin-right: 5%;
      }

      @include desktop {
          margin-right: 5%;
          max-width: 450px;
      }

      input {
          display: block;
          width: 100%;
          margin-bottom: 1.5rem;
          border-radius: 7px;
          font-size: 2rem;
          border-style: outset;
          border: none;
          font-family: 'karla';
      }

      #button {
          color: $offwhite;
          background: $logored;
          border: none;
          border-radius: 10px;
          transition: all ease-in .8s;
        }

      #button:hover {
        background: rgb(236, 64, 78);
        cursor: pointer;
    }

      textarea {
        width: 100%;
        margin-bottom: 5%;
        font-size: 2rem;
        border-radius: 10px;
        min-height: 8rem;
    }
  }
  
  /* Begin Right Contact Page */
  .direct-contact-container {
    margin: 0 auto;

    @include tablet-portrait {
        width: 80%;
    }

    @include tablet-landscape {
        margin-left: 5%;
    }

    @include desktop {
        max-width: 450px;
        margin-left: 5%;
    }
    
  }
  
  /* Location, Phone, Email Section */
  .contact-list {
    list-style-type: none;
    margin-top: 3rem;
    padding-right: 20px;

    @include tablet-portrait {
        margin-top: 0;
    }

    ul {
        list-style-type: none;
        display: flex;
        flex: 1;
        justify-content: space-between;
    }
  }
  
  .list-item {
    line-height: 4;
    color: #aaa;
  }
  
  .contact-text {
    font: 300 18px 'Lato', sans-serif;
    letter-spacing: 1.9px;
    color: #bbb;
  }
  
  .place {
    margin-left: 2.3rem;
  }
  
  .phone {
    margin-left: 2rem;
  }
  
  .gmail {
    margin-left: 2rem;
  }
  
  .contact-text a {
    color: #bbb;
    text-decoration: none;
    transition-duration: 0.2s;
  }
  
  .contact-text a:hover {
    color: #fff;
    text-decoration: none;
  }
  
  
  /* Social Media Icons */
  .social {
      text-align: left;
        padding-top: 4.5rem;
        display: flex;
        flex: 1;
        justify-content: space-between;
        
      li {
          display: inline;
          font-size: 3rem;
          color: #aaa;
          padding-right: 1rem;
      }

      a {
          color: #aaa;
          transition: all ease-in .5s;
      }

      a:hover {
        color: $logored;
        
      }
  }

  //////////////////////////////////////// Team //////////////////////


  .team {
      h2 {
          @include sectionHead;
          text-align: center;
          padding-top: 8rem;
          padding-bottom: 3rem;
          transform: skewY(-10deg);
      }

      .card__title {
          text-align: center;
      }
  }
  
  //////////////////////////////////////About /////////////////

  .aboutUs {
      position: relative;
      z-index: 2;
      padding-bottom: 1.7rem;
      h2 {
          @include sectionHead;
          text-align: center;
          padding-top: 7rem;
          padding-bottom: 5rem;
          transform: skewY(-30deg);
      }

      h3 {
          padding-bottom: 1rem;
          padding-top: 1rem;
      }

      .flexCards {
          display: flex;
          flex: 1;
          flex-wrap: wrap;
          justify-content: center;

          div {
              background: #fff;
              margin: 1rem;
              padding: 1rem;
              border-radius: 20px;
              width: 100%;
              max-width: 450px;
              box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
              

              h3 {
                  text-align: center;
              }
          }
      }

      
        
  }

  .triaImage {
      position: fixed;
      top: 0;
      width: 100%;
      background-attachment: fixed;
      background-image: url('/IMG/tria.png');
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      height: 100vh;
      
  }
  
  ///////////////////////////// Work ///////////////////////

  .work {
      background: #fff;

    h2 {
        @include sectionHead;
        text-align: center;
        padding-top: 7rem;
        padding-bottom: 3rem;
    }

    .tilt {
        padding-top: 9rem;
        transform: skewY(-10deg)
    }

    .workContact {

        padding-bottom: 0;
        h2 {
            text-align: center;
            padding-bottom: 0;
        }

        p {
            text-align: center;
            padding: 1rem;
            padding-bottom: 0;
        }
    }

    .workImage {
        margin: 0 auto;
        @include tablet-portrait() {
            max-width: 90%;
            

            @include tablet-landscape {
                max-width: 80%
            }
        }
        img {
            display: block;
            margin: 0 auto;
            object-fit: contain;
            width: 100%;
            height: 100%;
        }
    }

    .workInfo {
        background: #fff;
        padding-top: 3rem;
        display: flex;
        flex: 1;
        justify-content: center;
        flex-wrap: wrap;


        div {
            max-width: 450px;
            margin: 1rem;
            box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
        }
        
        


        ul {
            list-style-type: disc;
            margin-left: 1.5rem;
            margin-right: 1rem;
            padding-top: 1rem;
            padding-bottom: 1rem;
        
        }

        li {
            list-style: disc;
            padding-top: 1rem;
            
        }
        
        p {
            text-align: center;
            background: $logored;
            border-top-right-radius: 20px; 
            border-top-left-radius: 20px; 
            font-size: 1.3rem;
            padding-left: 1.3rem;
            padding-right: 1.3rem;
            padding-top: 1rem;
            padding-bottom: 1rem;
        }
    }
  }
  

  
  
  
  
  hr {
    border-color: rgba(255,255,255,.8); ;
  }
  
  /* Begin Media Queries*/
  
   
    
    
/************************** FOOTER *****************/


footer {
    background: #242424;
    color: #aaa;
    z-index: 2;
    position: relative;
    

    .foot {
        text-align: center;
        width: 100%;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
}



/////////////////////////////////////// CATALOG.HTML /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

.catalogLanding {
    margin: 7rem auto 0 auto;
    text-align: center;

    h2 {
        @include sectionHead;
        padding-bottom: 3rem;

    }
}

.catalogMain {
    background: $darkblack;
    
}

.catalogWalls {
    display: flex;
    flex: 1;
    justify-content: space-around;
    flex-wrap: wrap;
    

    .topIntro {
        min-width: 300px;
        max-width: 400px;
        padding-top: 3rem;

        h3 {
            text-align: center;
            color: $greytext;
            font-size: 1.5rem;
            letter-spacing: 1.9px;
        }

        h5 {
            text-align: center;
            color: $greytext;
            letter-spacing: 1.5px;
            padding-top: .5rem;
            font-size: 1rem;
        }

        p {
            padding: 1rem;
            color: $greytext;
        }
    }

    .wallImage {
        background-image: url('/IMG/wall4.jpg');
        background-position: center;
        background-size: cover;
        object-fit: contain;
        min-width: 300px;
        max-width: 400px;
        height: 400px;

    }

    
    .loadMore {
            position: relative;
        p {
           position: absolute; 
           bottom: 0;
           padding-top: 1rem;
           padding-bottom: 1rem;
           width: 100%;
           text-align: center;
           background: rgba(0, 0, 0, 0.9);
           outline: 1px solid red;
        }

        a {
            text-decoration: none;
            padding: .5rem;
            background: #000;
            font-size: 1.3rem;
            color: $logored;
            font-weight: bold;
            
        }
    }

    .hide {
        display: none;
    }
}