@import url("https://fonts.googleapis.com/css?family=Karla|Paprika|Rubik&display=swap");
html, body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'karla';
}

*,
*:after,
*:before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

* {
  padding: 0;
  margin: 0;
}

.mobileNav {
  z-index: 3;
  height: 100vh;
  position: fixed;
  top: 0;
  bottom: 0;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

.mobileNav ul {
  list-style-type: none;
  text-align: center;
  margin-top: 10%;
}

.mobileNav li {
  color: #f4f4f4;
  margin-top: 2rem;
}

.mobileNav li a {
  text-decoration: none;
  color: #f4f4f4;
  font-size: 2rem;
  font-weight: bold;
}

.slideIn {
  -webkit-transform: translateX(0) !important;
          transform: translateX(0) !important;
}

.slideX {
  position: absolute;
  top: .3rem;
  left: 88%;
}

.slideX a {
  color: red;
  font-size: 2.5rem;
}

.topnav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 0;
  background: transparent;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: fixed;
  -webkit-transition: all ease 2s;
  transition: all ease 2s;
  width: 100%;
  margin: 0;
  z-index: 2;
}

.topnav .menuOpen {
  font-size: 2.5rem;
  padding-top: .5rem;
  padding-right: 2rem;
}

.topnav .menuOpen a {
  color: #f4f4f4;
}

@media (min-width: 900px) {
  .topnav .menuOpen {
    display: none;
  }
}

.topnav .navlogo {
  margin-left: 10%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  height: 7rem;
  width: auto;
  -webkit-transition: all ease .5s;
  transition: all ease .5s;
}

.topnav .navlogo img {
  -o-object-fit: contain;
     object-fit: contain;
  height: 100%;
}

.topnav .navlogo p {
  display: inline-block;
  outline: 1px solid blue;
  padding-bottom: 1rem;
}

.topnav ul {
  list-style-type: none;
  padding-top: 1rem;
  margin-right: 10%;
  display: none;
}

.topnav ul a {
  text-decoration: none;
  color: #f4f4f4;
  font-weight: bold;
  font-size: 1.2rem;
}

@media (min-width: 900px) {
  .topnav ul {
    display: block;
  }
}

.topnav li {
  display: inline;
  margin-left: 1rem;
}

.topnav .shrink {
  height: 4rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
}

.navbg {
  background: #00000081;
}

header {
  background-image: url("/IMG/herobg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  width: 100%;
}

header .title {
  color: #fff;
  width: 100%;
  margin: 0 auto;
  position: relative;
  text-align: center;
  top: 30%;
  font-family: 'rubik';
}

header .title h1 {
  font-size: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

@media (min-width: 600px) {
  header .title h1 {
    font-size: 4rem;
    padding-top: 1rem;
  }
}

header .title h2 {
  font-size: 1.3rem;
}

@media (min-width: 600px) {
  header .title h2 {
    font-size: 1.5rem;
  }
}

.furnishings {
  background: #f2f2f2;
  padding-top: 3rem;
}

.furnishings h2 {
  text-align: center;
  font-family: 'rubik';
  padding-bottom: .5rem;
  color: #242424;
  font-size: 2rem;
}

.furnishings p {
  text-align: center;
  margin-bottom: 2rem;
  color: #f4f4f4;
}

.furnishings .chairs {
  width: 80%;
  margin: 0 auto;
  position: relative;
  height: 35rem;
}

.furnishings .chairs p {
  padding: 1rem;
}

.furnishings .left {
  position: absolute;
  width: 20rem;
  color: #fff;
  text-align: left;
  background: #111111;
  margin-left: -2rem;
  margin-top: 2rem;
}

.furnishings .left p {
  text-align: left;
}

.furnishings .leftt {
  position: absolute;
  width: 20rem;
  color: #fff;
  text-align: left;
  background: #111111;
  bottom: 0;
  right: 0;
  margin-bottom: 2rem;
  z-index: 3;
}

.furnishings .leftt p {
  text-align: left;
}

.furnishings .right {
  margin: 0 auto;
  background: url("/IMG/26f83c37273261.573af25f5d4e4.jpg");
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 90%;
}

.hanging {
  padding-bottom: 4rem;
  padding-top: 4rem;
}

.hanging img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

.hanging .btn {
  background-color: white;
  border: 1px solid #cccccc;
  color: #696969;
  padding: 0.5rem;
  text-transform: lowercase;
}

.hanging .btn--block {
  display: block;
  width: 100%;
}

.hanging .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.hanging .cards__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem;
}

@media (min-width: 40rem) {
  .hanging .cards__item {
    width: 50%;
  }
}

@media (min-width: 56rem) {
  .hanging .cards__item {
    width: 33.3333%;
  }
}

.hanging .card {
  background-color: white;
  border-radius: 0.25rem;
  -webkit-box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
          box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  overflow: hidden;
}

.hanging .card:hover .card__image {
  -webkit-filter: contrast(100%);
  filter: contrast(100%);
}

.hanging .card__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 1rem;
}

.hanging .card__image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  -webkit-filter: contrast(90%);
  filter: contrast(90%);
  overflow: hidden;
  position: relative;
  -webkit-transition: -webkit-filter 0.5s cubic-bezier(0.43, 0.41, 0.22, 0.91);
  transition: -webkit-filter 0.5s cubic-bezier(0.43, 0.41, 0.22, 0.91);
  transition: filter 0.5s cubic-bezier(0.43, 0.41, 0.22, 0.91);
  transition: filter 0.5s cubic-bezier(0.43, 0.41, 0.22, 0.91), -webkit-filter 0.5s cubic-bezier(0.43, 0.41, 0.22, 0.91);
}

@media (min-width: 600px) {
  .hanging .card__image {
    -webkit-filter: contrast(50%);
            filter: contrast(50%);
  }
}

.hanging .card__image::before {
  content: "";
  display: block;
  padding-top: 56.25%;
}

@media (min-width: 40rem) {
  .hanging .card__image::before {
    padding-top: 66.6%;
  }
}

.hanging .card__image--flowers {
  background-image: url("/IMG/wall1.png");
}

.hanging .card__image--river {
  background-image: url("/IMG/ceiling.jpg");
}

.hanging .card__image--record {
  background-image: url("/IMG/Air.jpg");
}

.hanging .card__image--air {
  background-image: url("/IMG/Air.jpg");
}

.hanging .card__image--sculp {
  background-image: url("/IMG/sculp.jpg");
}

.hanging .card__image--per {
  background-image: url("/IMG/live.jpg");
}

.hanging .card__title {
  color: #696969;
  font-size: 1.25rem;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.hanging .card__text {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;
}

/*********** CONTACT **********************************/
#contact {
  width: 100%;
  background-color: #111;
  padding-bottom: 5rem;
}

#contact ul {
  list-style-type: none;
}

.section-header {
  text-align: center;
  margin: 0 auto;
  padding-top: 4rem;
  margin-bottom: 50px;
  font: 300 60px 'karla';
  letter-spacing: 6px;
  color: #fff;
  margin-bottom: 25px;
}

.contact-wrapper {
  margin: 0 auto;
  padding-top: 20px;
  width: 90%;
}

@media (min-width: 600px) {
  .contact-wrapper {
    width: 80%;
  }
}

@media (min-width: 900px) {
  .contact-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

@media (min-width: 1200px) {
  .contact-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.form {
  margin: 0 auto;
}

@media (min-width: 600px) {
  .form {
    width: 80%;
  }
}

@media (min-width: 600px) {
  .form {
    margin-right: 5%;
  }
}

@media (min-width: 1200px) {
  .form {
    margin-right: 5%;
    max-width: 450px;
  }
}

.form input {
  display: block;
  width: 100%;
  margin-bottom: 1.5rem;
  border-radius: 7px;
  font-size: 2rem;
  border-style: outset;
  border: none;
  font-family: 'karla';
}

.form #button {
  color: #f4f4f4;
  background: #F25C69;
  border: none;
  border-radius: 10px;
  -webkit-transition: all ease-in .8s;
  transition: all ease-in .8s;
}

.form #button:hover {
  background: #ec404e;
  cursor: pointer;
}

.form textarea {
  width: 100%;
  margin-bottom: 5%;
  font-size: 2rem;
  border-radius: 10px;
  min-height: 8rem;
}

/* Begin Right Contact Page */
.direct-contact-container {
  margin: 0 auto;
}

@media (min-width: 600px) {
  .direct-contact-container {
    width: 80%;
  }
}

@media (min-width: 900px) {
  .direct-contact-container {
    margin-left: 5%;
  }
}

@media (min-width: 1200px) {
  .direct-contact-container {
    max-width: 450px;
    margin-left: 5%;
  }
}

/* Location, Phone, Email Section */
.contact-list {
  list-style-type: none;
  margin-top: 3rem;
  padding-right: 20px;
}

@media (min-width: 600px) {
  .contact-list {
    margin-top: 0;
  }
}

.contact-list ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.list-item {
  line-height: 4;
  color: #aaa;
}

.contact-text {
  font: 300 18px 'Lato', sans-serif;
  letter-spacing: 1.9px;
  color: #bbb;
}

.place {
  margin-left: 2.3rem;
}

.phone {
  margin-left: 2rem;
}

.gmail {
  margin-left: 2rem;
}

.contact-text a {
  color: #bbb;
  text-decoration: none;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}

.contact-text a:hover {
  color: #fff;
  text-decoration: none;
}

/* Social Media Icons */
.social {
  text-align: left;
  padding-top: 4.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.social li {
  display: inline;
  font-size: 3rem;
  color: #aaa;
  padding-right: 1rem;
}

.social a {
  color: #aaa;
  -webkit-transition: all ease-in .5s;
  transition: all ease-in .5s;
}

.social a:hover {
  color: #F25C69;
}

hr {
  border-color: rgba(255, 255, 255, 0.8);
}

/* Begin Media Queries*/
/************************** FOOTER *****************/
footer {
  background: #242424;
  color: #aaa;
}

footer .foot {
  text-align: center;
  width: 100%;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
/*# sourceMappingURL=style.css.map */