@import url("https://fonts.googleapis.com/css?family=Montserrat|Roboto|Tangerine|Zilla+Slab&display=swap");
/******pic colors ******/
body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Montserrat';
  margin: 0;
  padding: 0;
}

*, *:before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

* {
  margin: 0;
  border: 0;
  border-width: 0;
}

::-webkit-scrollbar-track {
  display: none;
}

header {
  height: 100vh;
  width: 100%;
  min-width: 100%;
  min-height: 100vh;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 0))), url("/IMG3/art50ss.jpg");
  background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), url("/IMG3/art50ss.jpg");
  background-repeat: no-repeat !important;
  background-position: center center !important;
  background-size: cover !important;
  background-attachment: fixed !important;
}

@media (max-width: 599px) {
  header {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 0))), url("/IMG3/art50-mobile.jpg");
    background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), url("/IMG3/art50-mobile.jpg");
  }
}

header img {
  display: inline-block;
}

header h1 {
  text-align: center;
  position: relative;
  color: #f2f2f2;
  top: 30%;
  font-family: 'tangerine';
  letter-spacing: .2rem;
  font-weight: bold;
  font-size: 3.5rem;
}

@media (min-width: 600px) {
  header h1 {
    font-size: 4rem;
  }
}

@media (min-width: 900px) {
  header h1 {
    font-size: 5rem;
  }
}

.opacityAnchor {
  position: relative;
  top: 40%;
}

.icon {
  width: 50px;
  height: 50px;
}

main nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: all ease-in-out 1s;
  transition: all ease-in-out 1s;
  -webkit-box-shadow: 0;
          box-shadow: 0;
  background: #fff;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 1.3rem;
  z-index: 2;
}

main nav .logo {
  margin-left: 10%;
  height: 50px;
  width: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
}

main nav .logo img {
  display: block;
  height: 100%;
  max-width: 100%;
  margin: auto;
}

main nav ul {
  list-style-type: none;
  visibility: hidden;
  opacity: 0;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  position: relative;
  max-height: 0;
  font-weight: bold;
  letter-spacing: .1rem;
  padding-bottom: 20px;
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transition: all 1000ms ease-in-out;
  transition: all 1000ms ease-in-out;
}

@media (min-width: 900px) {
  main nav ul {
    opacity: 1;
    visibility: visible;
    min-height: 4rem;
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    margin-right: 10%;
  }
}

main nav li {
  margin-top: 20px;
  text-align: center;
}

@media (min-width: 900px) {
  main nav li {
    display: inline-block;
    margin-left: 1rem;
  }
}

main nav a {
  text-decoration: none;
  color: black;
}

main nav .menuIcon {
  width: 50px;
  height: 50px;
  -webkit-transition: all ease-in-out 300ms;
  transition: all ease-in-out 300ms;
  margin-right: 10%;
  margin-bottom: 2%;
}

@media (min-width: 900px) {
  main nav .menuIcon {
    display: none;
  }
}

main nav .menuIcon .ham {
  display: block;
  width: 100%;
  margin-top: 17%;
  height: 15%;
  background: red;
  -webkit-transition: all ease-in-out .5s;
  transition: all ease-in-out .5s;
}

main nav .menuIcon .topA {
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: translateY(1rem) rotate(-45deg);
          transform: translateY(1rem) rotate(-45deg);
}

main nav .menuIcon .middleA {
  opacity: 0;
}

main nav .menuIcon .bottomA {
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: translateY(-1rem) rotate(45deg);
          transform: translateY(-1rem) rotate(45deg);
}

.showMenu {
  position: relative;
  visibility: visible;
  opacity: 1;
  max-height: 1000px;
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}

.addShadow {
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.navAnch {
  position: relative;
}

/********** Articles *********/
.articles {
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#f9f9f9));
  background: linear-gradient(#fff, #f9f9f9);
  padding-bottom: 3rem;
}

#tt {
  text-align: center;
  font-size: 3rem;
  letter-spacing: .2rem;
  padding: 1.5rem 0 1.5rem 0;
}

/***************************** CODE FROM https://github.com/web-tiki/responsive-grid-of-hexagons *****************/
.hexflex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 90%;
  overflow: hidden;
  list-style-type: none;
  margin: 0 auto;
}

.hexagon {
  visibility: hidden;
  position: relative;
  outline: 1px solid transparent;
}

.hexagon::after {
  content: '';
  display: block;
  padding-bottom: 86.602%;
}

.hexIn {
  position: absolute;
  width: 96%;
  margin: 0 2%;
  padding-bottom: 110.851%;
  overflow: hidden;
  outline: 1px solid transparent;
  visibility: hidden;
  outline: 1px solid transparent;
  -webkit-transform: rotate3d(0, 0, 1, -60deg) skewY(30deg);
          transform: rotate3d(0, 0, 1, -60deg) skewY(30deg);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.hexIn * {
  position: absolute;
  visibility: visible;
  outline: 1px solid transparent;
}

.hexLink {
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  overflow: hidden;
  color: #f2f2f2;
  overflow: hidden;
  -webkit-transform: skewY(-30deg) rotate3d(0, 0, 1, 60deg);
          transform: skewY(-30deg) rotate3d(0, 0, 1, 60deg);
}

.hexagon img {
  left: -100%;
  right: -100%;
  width: auto;
  margin: 0 auto;
  height: 100%;
  -webkit-transform: rotate3d(0, 0, 0, 0deg);
          transform: rotate3d(0, 0, 0, 0deg);
}

.hexagon h1, .hexagon p {
  width: 100%;
  padding: 5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: opacity .3s ease-out, -webkit-transform .2s ease-out;
  transition: opacity .3s ease-out, -webkit-transform .2s ease-out;
  transition: transform .2s ease-out, opacity .3s ease-out;
  transition: transform .2s ease-out, opacity .3s ease-out, -webkit-transform .2s ease-out;
}

.hexagon h1 {
  color: #fff;
  bottom: 50%;
  padding-top: 50%;
  z-index: 1;
}

.hexagon p {
  top: 50%;
  padding-bottom: 50%;
  text-transform: uppercase;
  -webkit-transform: translate3d(0, 100%, 0);
          transform: translate3d(0, 100%, 0);
}

.hexagon h1::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 45%;
  width: 10%;
  text-align: center;
  border-bottom: 1px solid #fff;
}

.hexLink:hover h1, .hexLink:focus h1,
.hexLink:hover p, .hexLink:focus p {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.hexLink:hover img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.hexLink img {
  -webkit-transition: all ease-in-out 1s;
  transition: all ease-in-out 1s;
}

@media (min-width: 1201px) {
  .hexflex {
    padding-bottom: 4.4%;
  }
  .hexagon {
    width: 20%;
  }
  .hexagon:nth-child(9n+6) {
    margin-left: 10%;
  }
}

@media (max-width: 1200px) and (min-width: 901px) {
  .hexflex {
    padding-bottom: 5.5%;
  }
  .hexagon {
    width: 25%;
  }
  .hexagon:nth-child(7n+5) {
    margin-left: 12.5%;
  }
}

@media (max-width: 900px) and (min-width: 601px) {
  .hexflex {
    padding-bottom: 7.4%;
  }
  .hexagon {
    width: 33.333%;
  }
  .hexagon:nth-child(5n+4) {
    margin-left: 16.666%;
  }
}

@media (max-width: 600px) {
  .hexflex {
    padding-bottom: 11.2%;
  }
  .hexagon {
    width: 50%;
  }
  .hexagon:nth-child(3n+3) {
    margin-left: 25%;
  }
}

@media (max-width: 400px) {
  .hexflex {
    font-size: 13px;
  }
}

/**************************************************************************
*********************** ABOUT *****************************************/
.about {
  background: #fdfdfd;
}

.about .sTitle {
  text-align: center;
}

.about h2 {
  color: #242424;
  text-align: center;
  font-size: 3rem;
  letter-spacing: .2rem;
  padding: 1.5rem 0 1.5rem 0;
  padding-bottom: 0;
}

.about p {
  line-height: 1.7rem;
  color: #242424;
  padding: 5px 15px 30px 15px;
}

.about h3 {
  padding-top: 1rem;
  text-align: center;
  font-size: 2rem;
  color: #242424;
}

.about .fas {
  color: #4886d9;
}

@media (min-width: 900px) {
  .about article div {
    z-index: 1;
    background: #fff;
    margin: 1rem;
    margin-bottom: -7rem;
    border-radius: 9px;
    -webkit-box-shadow: 0 3px 10px rgba(50, 50, 50, 0.05);
            box-shadow: 0 3px 10px rgba(50, 50, 50, 0.05);
    /* box-shadow: 0px 6px 10px #000000; */
  }
}

@media (min-width: 600px) {
  .about article {
    width: 90%;
    margin: 0 auto;
  }
}

@media (min-width: 900px) {
  .about article {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}

/**************************************************************************
*********************** STORE *****************************************/
.store {
  background: #272b2e;
  padding-bottom: 4rem;
}

@media (min-width: 900px) {
  .store {
    padding-top: 7rem;
  }
}

@media (min-width: 600px) {
  .store .storeTop {
    width: 90%;
    margin: 0 auto;
  }
  .store .storeTop p {
    width: 50%;
    margin: 0 auto;
    border-radius: 10px;
    -webkit-box-shadow: 0 3px 10px rgba(50, 50, 50, 0.05);
            box-shadow: 0 3px 10px rgba(50, 50, 50, 0.05);
    padding-top: 1rem;
    margin-top: 1rem;
  }
}

.store h2 {
  text-align: center;
  font-size: 3rem;
  letter-spacing: .2rem;
  padding: 1.5rem 0 1.5rem 0;
  color: #f4f4f4;
  padding-bottom: .5rem;
}

.store h2 .fas {
  color: #4886d9;
}

.store h3 {
  text-align: center;
  font-size: 2rem;
  color: #f4f4f4;
  font-size: 1.8rem;
}

.store h3 .some {
  font-size: 1.3rem;
  letter-spacing: .1rem;
}

.store p {
  color: #f4f4f4;
  line-height: 1.7rem;
  padding: 5px 15px 30px 15px;
}

/**************************************************************************
*********************** Contact *****************************************/
.contact {
  background: #242424;
  color: #f4f4f4;
}

.contact .padding {
  padding: 0 15px 0 15px;
}

@media (min-width: 900px) {
  .contact .contactFlex {
    width: 90%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}

@media (min-width: 1200px) {
  .contact .contactFlex {
    width: 80%;
  }
}

.contact .contactTop .phone {
  color: #4886d9;
  font-size: 2rem;
}

.contact .contactTop a:hover {
  color: #4886d9;
}

@media (min-width: 600px) {
  .contact .contactTop {
    width: 90%;
    margin: 0 auto;
  }
}

@media (min-width: 900px) {
  .contact .contactTop {
    margin: 0 2rem 0 2rem;
  }
}

@media (min-width: 1200px) {
  .contact .contactTop {
    margin: 0 5%;
  }
}

.contact .form {
  width: 90%;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 900px) {
  .contact .form {
    margin: 0 2rem 0 2rem;
  }
}

@media (min-width: 1200px) {
  .contact .form {
    margin: 0 5%;
  }
}

.contact a {
  text-decoration: none;
  font-size: 1.3rem;
  color: #f4f4f4;
}

.contact #contactform {
  padding-bottom: 3rem;
}

.contact input {
  display: block;
  width: 100%;
  margin-bottom: 5%;
  border-radius: 7px;
  font-size: 2rem;
  border-style: outset;
  font-family: 'montserrat';
}

.contact #button {
  background: #d5f547;
  border: none;
  border-radius: 20px;
  font-weight: bold;
  color: #000;
  margin-bottom: 0;
  cursor: pointer;
}

@media (min-width: 600px) {
  .contact #button {
    width: 12rem;
  }
}

.contact #button #button:hover {
  cursor: pointer;
}

.contact textarea {
  width: 100%;
  margin-bottom: 5%;
  font-size: 2rem;
  border-radius: 10px;
  min-height: 5rem;
}

.contact h2 {
  text-align: center;
  font-size: 3rem;
  letter-spacing: .2rem;
  padding: 1.5rem 0 1.5rem 0;
}

.contact h2 .fas {
  color: #4886d9;
}

.contact p {
  line-height: 1.7rem;
  padding: 5px 15px 30px 15px;
}

/**************************************************************************
*********************** Footer *****************************************/
footer {
  background-color: #353839;
  color: #f4f4f4;
}

footer div {
  width: 90%;
  margin: 0 auto;
  padding-bottom: 2rem;
  padding-top: 2rem;
  text-align: center;
}
/*# sourceMappingURL=style.css.map */