@import url('https://fonts.googleapis.com/css?family=Montserrat|Tangerine&display=swap');


@mixin phone {
    @media (max-width: 599px) {
        @content; 
    }
 }
 
  
@mixin tabletP {
    @media (min-width: 600px) {
        @content;
    }
 }

 
@mixin tabletL {
    @media (min-width: 900px) {
        @content;
    }
 }

 
@mixin desktop {
    @media (min-width: 1200px) {
        @content;
    }
 }

 
@mixin desktopL {
    @media (min-width: 1800px) {
        @content;
    }
 }

 @mixin sectionHeading {
     text-align: center;
     font-size: 3rem;
     letter-spacing: .2rem;
     padding: 2rem 0 2rem 0;
     color: $offwhitefour;
     font-family: 'montserrat';
     
     
 }

 @mixin paragraphPadding {
    padding: 5px 15px 30px 15px;
    
}

@mixin subHeading {
    text-align: center;
    font-size: 2rem;
    font-family: 'Montserrat';
}

 $offwhite: #f4f4f4;
$offblack: #242424;
$offwhitetwo: #fdfdfd;
$offwhitethree: #f9f9f9;
$offwhitefour: #f2f2f2;
$newyellow1: #f2bd00;

/******pic colors ******/
$newyellow: #4886d9;
$picgreen: #1ca658;
$picyellow: #f2e852;
$picorange: #d97218;
$picred: #d9320d;

$comppurple: #9490f4;
$compgrey: #7B8C68;
$compgreen: #7BBF2E;

$compblue: #23a1a6;


* {
    margin: 0;
    padding: 0;
}
html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
   
    height: 100%;
    font-family: 'Montserrat';
    
}

*, *:before, *:after {
    box-sizing: inherit;
    
}


  
  @media (prefers-reduced-motion: reduce) {
    html {
      scroll-behavior: auto;
    }
  }



header {
    height: 100vh;
    width: 100%;
    min-width: 100%;
    min-height: 100vh;
    background: linear-gradient(rgba(253, 253, 253, 0), rgba(253, 253, 253, 0)), url('/IMG3/art50ss.jpg'); 
    background-repeat: no-repeat !important;
    background-position: center center !important;
    background-size: cover !important;
    

    @include phone {
       background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), url('/IMG3/art50-mobile.jpg');
    }

    img {
        display: inline-block;
    }
    

    h1 {
        
        text-align: center;
        position: relative;
        color: #f2f2f2;
        top: 30%;
        font-family:  'tangerine';
        letter-spacing: .2rem;
        font-weight: bold;
        font-size: 3.5rem;

        @include tabletP {
            font-size: 4rem;
        }

        @include tabletL {
            font-size: 7rem;
        }
    }
}

.opacityAnchor {
    position: relative;
    top: 40%;
}

.icon {
    width: 50px;
    height: 50px;
}

.fa, .fas, .far {
    color: $picyellow;
}

main {
    
    nav {
        display: flex;
        flex: 1 1 0px;
        justify-content: space-between;
        
        transition: all ease-in-out 1s;
        box-shadow: 0;
        background: #fdfdfd;
        
        font-size: 1.3rem;
        color: $offblack;
        z-index: 2;
        
        .logo {
            margin-left: 10%;
            height: 50px;
            width: 144;
            margin-top: .5rem;
            margin-bottom: .5rem;
            flex: 1 1 0;
            width: 0;
            

            img {
                display: inline-block;
                height: 100%;
                max-width: 100%;
                object-fit: contain;
                             
            }
        }
        ul {
            list-style-type: none;
            visibility: hidden;
            opacity: 0;
            transform: scaleY(0);
            position: relative;
            max-height: 0;
            font-weight: bold;
            letter-spacing: .1rem;
            padding-bottom: 20px;
            transform-origin: top;
            transition: all 500ms ease-in-out;
            padding-top: 50px;
            flex: 1 1 0;
            width: 0;
            text-align: right;
            

            @include tabletL {
                opacity: 1;
                visibility: visible;
                min-height: 4rem;
                transform: scaleY(1);
                margin-right: 10%;
                padding-top: 0;
            }
        }

        li {
            margin-top: 20px;
            text-align: center;

            @include tabletL {
                display: inline-block;
                margin-left: 1rem;
            }
            
        }
        
        a {
            text-decoration: none;
            color: $offblack;
            transition: all ease-in-out 300ms;
        }

        a:hover {
            color: $newyellow;
        }

        .menuIcon {
            margin-top: 15px;
            margin-bottom: 15px;
            width: 50px;
            height: 40px;
            
            margin-right: 10%;
            position: relative;
            flex: 1 1 0;
            width: 0;

            button {
                height: 40px;
                width: 50px;
                background: transparent;
                border: none;
                float: right;

                
            }
            :focus {
                outline: 0;
            }

            

            @include tabletL {
                display: none;
            }
            .ham {
                display: block;
                transition: all .3s ease-in-out;
                width: 100%;
                height: 6px;
                border-radius: 5px;
               
            }

            .topBar {
                
                
                transform-origin: center;
                background: $newyellow;
                
            }
    
            .middleBar {
                opacity: 1;
                
                margin-top: 11px;
                background:$newyellow;
            }
    
            .bottomBar {
                transform-origin: center;
                background: $newyellow;
                
                margin-top: 11px;
                
            }

            &.open {
                .topBar {
                    transform-origin: center;
                    transform: translateY(19px) rotate(45deg);
                    background-color: red;
                }

                .middleBar {
                    opacity: 0;
                }

                .bottomBar {
                    transform: translateY(-15px) rotate(-45deg);
                    background-color: red;
                }
            }
        }





        
    }
}

.showMenu {
    position: relative;
    visibility: visible;    
    opacity: 1;
    max-height: 1000px;
    transform: scaleY(1);
    
    
}

.addShadow {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    position: sticky;
    top: 0;
    
}





.navAnch {
    position: relative;
}

.anchor {
    display: block;
    position: relative;
    top: -250px;
    visibility: hidden;

    @include tabletL {
        top: -100px;
    }
}

/********** Articles *********/

.articles {
    background-image: linear-gradient(#242424, #0c0c0c);
    padding-bottom: 3rem;
    display: none;
}
#tt {
    @include sectionHeading;
}

/***************************** CODE FROM https://github.com/web-tiki/responsive-grid-of-hexagons *****************/
.hexflex {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    
    overflow: hidden;
    list-style-type: none;
    margin: 0 auto;
}

.hexagon {
    visibility: hidden;
    
    
    position: relative;
    outline: 1px solid transparent;
   
}

.hexagon::after {
    content: '';
    display: block;
    padding-bottom: 86.602%;
}

.hexIn {
    position: absolute;
    width: 96%;
    margin: 0 2%;
    padding-bottom: 110.851%;
    overflow: hidden;
    outline: 1px solid transparent;
    visibility: hidden;
    
    outline: 1px solid transparent;
    transform: rotate3d(0, 0, 1, -60deg) skewY(30deg);
    transition: all 0.5s
}

.hexIn * {
    position: absolute;
    visibility: visible;
    outline: 1px solid transparent;
}

.hexLink {
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    overflow: hidden;
    color: #f2f2f2;
    overflow: hidden;
    transform: skewY(-30deg) rotate3d(0, 0, 1, 60deg);
}


.hexagon img {
    left: -100%;
    right: -100%;
    width: auto;
    margin: 0 auto;
    height: 100%;
    transform: rotate3d(0, 0, 0, 0deg);
}

.hexagon h1, .hexagon p {
    width: 100%;
    padding: 5%;
    box-sizing: border-box;
    
    transition: transform .2s ease-out, opacity .3s ease-out;
}

.hexagon h1 {
    color: #fff;
    bottom: 50%;
    padding-top: 50%;

    z-index: 1;
    
}

.hexagon p {
    top: 50%;
    padding-bottom: 50%;
    text-transform: uppercase;
    
    transform: translate3d(0, 100%, 0)
}

   .hexagon h1::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 45%;
    width: 10%;
    text-align: center;
    border-bottom: 1px solid #fff;
}


////// Hover ///////////



.hexLink:hover h1, .hexLink:focus h1,
.hexLink:hover p, .hexLink:focus p {

    transform: translate3d(0, 0, 0);

    
}

.hexLink:hover img {
    
    transform: scale(1.2); 
}



.hexLink img {
    
    
    transition:  all ease-in-out 1s;
    
}



@media (min-width:1201px) { 
    .hexflex {
      padding-bottom: 4.4%
    }
    .hexagon {
      width: 20%; 
    }
    .hexagon:nth-child(9n+6){ 
      margin-left:10%;
    }
  }
  
  @media (max-width: 1200px) and (min-width:901px) { 
    .hexflex{
      padding-bottom: 5.5%
    }
    .hexagon {
      width: 25%; 
    }
    .hexagon:nth-child(7n+5){ 
      margin-left:12.5%;  
    }
  }
  
  @media (max-width: 900px) and (min-width:601px) { 
    .hexflex{
      padding-bottom: 7.4%
    }
    .hexagon {
      width: 33.333%; 
    }
    .hexagon:nth-child(5n+4){ 
      margin-left:16.666%;  
    }
  }
  
  @media (max-width: 600px) {
    .hexflex{
      padding-bottom: 11.2%
    }
    .hexagon {
      width: 50%; 
    }
    .hexagon:nth-child(3n+3){ 
      margin-left:25%;  
    }
  }
  
  @media (max-width: 400px) {
      .hexflex {
          font-size: 13px;
      }
  }

  /**************************************************************************
*********************** ABOUT *****************************************/


.about {
    
    background-image: linear-gradient(to bottom, #fdfdfd, #fbfbfb, #f9f9f9, #f7f7f7, #f5f5f5);
    padding-bottom: 3rem;
        @include tabletP {
            
        }
    
        .sTitle {
            text-align: center;
        }
    

    h2 {
        
        @include sectionHeading;
        padding-bottom: 0;
        color: $offblack;
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        text-align: center;

        
    
    }


    h2:before, h2:after {
        content: '';
        border-top: 5px solid;
        flex: 1 0 20px;
        margin: 0 20px 0 20px;
        color: $newyellow;
    }

    h2:after {
        margin: 0 20px 0 20px;
    }
    p {
        line-height: 1.7rem;
        color: $offblack;
        @include paragraphPadding;
    }

    h3 {
        padding-top: 1rem;
        @include subHeading;
        color: $offblack;
        padding-bottom: 1rem;
       
    }
    

    article {

        div {
            @include tabletP {
            min-width: 300px;
             max-width: 500px;
             background: #fff;
             margin: auto;
             margin-bottom: 1.6rem;
             border-radius: 19px;
             box-shadow: 5px 5px 10px rgba(0,0,0,0.3);
            }

            @include tabletL {
                margin: 2rem;
            }
        }
        
        @include tabletP {
            width: 100%;
            margin: 0 auto;
        }

        @include tabletL {
            color: $offwhite;
            
            
           
            display: flex;
            flex: 1;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            

        }

    }
}

/**************************************************************************
*********************** STORE *****************************************/

.store {
    
    padding-bottom: 4rem;
    background: #fff;



    @include tabletL {
        padding-top: 3rem;
    }

    .storeTop {


        @include tabletP {
            width: 90%;
            margin: 0 auto;

            p {
                
                width: 50%;
                margin: 0 auto;
                border-radius: 10px;
                box-shadow:  0 3px 10px rgba(50,50,50,0.05);
                padding-top: 1rem;
                margin-top: 1rem;
                
                
                

            }
        }
    }
    
    h2 {
        @include sectionHeading;
        color: $offblack;
        padding-bottom: .5rem;
        padding-top: 1rem;
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        text-align: center;
        
    }


    h2:before, h2:after {
        content: '';
        border-top: 5px solid;
        flex: 1 0 20px;
        margin: 0 20px 0 20px;
        color: $newyellow;
    }

    h2:after {
        margin: 0 20px 0 20px;
    }

    h3 {
        @include subHeading;
        color: $offblack;
        font-size: 1.8rem;
        padding-top: .5rem;
        padding-bottom: 1rem;
        .some {
            font-size: 1.3rem;
            letter-spacing: .1rem;
            color: #969699;
            
        }
    }

    p {
        color: $offblack;
        line-height: 1.7rem;
        @include paragraphPadding;
    }
}

.bgC {
    background-image: radial-gradient(circle, #06060f, #08070e, #09090d, #0b0b0d, #0c0c0c);
}

.items {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    justify-content: center;
    
    
      h4 {
          text-align: center;
          color: #969699;
      }

      h3 {
         padding-bottom: 0; 
      }
    a {
        text-align: center;
        margin: auto;
        font-size: 1.6rem;
        letter-spacing: .1rem;
        
        text-decoration: none;
        width: 12rem;
        height: 39px;
        line-height: 39px;
        border-radius: 20px;
        font-weight: bold;
        transition: all 200ms ease-in-out;
        box-shadow: 0 0 40px 40px $newyellow inset, 0 0 0 0 $newyellow;
        margin-bottom: 1rem;
        color: #000;
        align-self: flex-end;
        
        

    }

    a:hover {
        box-shadow: 0 0 10px 0 $newyellow inset, 0 0 10px 4px $newyellow;
    }
    
    .imgc {
        
        max-width: 500px;
        overflow: hidden;
        border-top-right-radius: 10px;
            border-top-left-radius: 10px;
            

        img {
            max-width: 500px;
        min-width: 300px;
        max-height: 100vh;
            display: block;
            max-width: 100%;
            max-height: 100%;
            height: auto;
            object-fit: contain;
            overflow: hidden;
            border-top-right-radius: 10px;
            border-top-left-radius: 10px;
            transition: all .3s ease-in-out;

            @media (orientation: landscape) {
                
                width: auto;
                
            }
        }

    
    }

    .card {
        max-width: 500px;
        min-width: 300px;
        max-height: 100vh;
        border-radius: 10px;
        background-color: $offwhite;
        display: flex;
        flex: 1;
        flex-direction: column;
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
        margin-top: 1rem;
        margin-bottom: 1rem;

        @media (orientation: landscape) {
            max-height: max-content;
        }

        
        @include tabletP {
            margin: 1rem;
        }

        @include tabletL {
            margin: 2rem;
        }
    }

    .card:hover img{
        transform: scale(1.1);
    }
}
/**************************************************************************
*********************** Contact *****************************************/

.contact {
    
    color: $offwhite;
    .padding {
        padding: 0 15px 0 15px;
    }

    .contactFlex {
        @include tabletL {
        width: 90%;
        margin: 0 auto;
        display: flex;
        flex: 1;
        }

        @include desktop {
            width: 80%;
        }
    }

    .contactTop {

        .phone {
            color: $newyellow;
            font-size: 2rem;
        }

        a:hover {
            transform: scale(1.1);
        }
        
        @include tabletP {
            width: 90%;
            
            margin:0 auto;
        }
        @include tabletL {
            margin: 0 2rem 0 2rem;
        }

        @include desktop {
            margin: 0 5%;
        }
    }
    .form {
        width: 90%;
        margin: 0 auto;
        padding-left: 15px;
        padding-right: 15px;

        @include tabletL {
            
            margin: 0 2rem 0 2rem;
        }

        @include desktop {
            margin: 0 5%;
        }

    }

    a {
        text-decoration: none;
        font-size: 1.3rem;
        color: $offwhite
    }
    #contactform {
        padding-bottom: 3rem;

       
    }

    input {
        display: block;
        width: 100%;
        margin-bottom: 5%;
        border-radius: 7px;
        font-size: 1.2rem;
        padding: 4px;
        border-style: outset;
        font-family: 'montserrat';
        margin-top: 2%;
    }

    #button {
        background: $newyellow;
        border: none;
        border-radius: 20px;
        font-weight: bold;
        letter-spacing: .1rem;
        
        color: #000;
        margin-bottom: 0;
        font-size: 1.6rem;
        cursor: pointer;
        transition: all 200ms ease-in-out;
        
        

        @include tabletP {
            width: 12rem;
        }

        #button:hover {
            cursor: pointer;
           
        }
    }

    #button:hover {
        box-shadow: 0 0 10px 0 $newyellow inset, 0 0 10px 4px $newyellow;
    }
    textarea {
        width: 100%;
        margin-bottom: 5%;
        font-size: 1.2rem;
        border-radius: 10px;
        min-height: 5rem;
        padding: 5px;
        font-family: 'montserrat';
        margin-top: 2%;
    }

    h2 {
        @include sectionHeading;
        
    }

    p {
        line-height: 1.7rem;
        @include paragraphPadding();
        
    }
}

/**************************************************************************
*********************** Footer *****************************************/

footer {

        background-color: #353839;
        color: $offwhite;
        
        div {
            width: 90%;
            margin: 0 auto;
            padding-bottom: 2rem;
            padding-top: 2rem;
            text-align: center;
        }
}



